@using Model.Models
@model Animal

@{
    ViewData["Title"] = "Details";
}


<section class="u-align-center u-border-2 u-border-grey-75 u-clearfix u-gradient u-section-7" id="sec-e80f">
    <div class="u-clearfix u-sheet u-sheet-1">
         <h1 class="u-align-center u-text u-text-default u-text-1">@Model.Name</h1>
        <h3 class="u-align-center u-custom-font u-font-lobster u-text u-text-2">Age: @Model.Age</h3>
        <img class="u-image u-image-default u-preserve-proportions u-image-1" src="../../@Model.PictureLink" alt="" data-image-width="400" data-image-height="400">
        <h3 class="u-align-center u-custom-font u-font-lobster u-text u-text-3">Category: @ViewBag.CategoryName</h3>
        <p class="u-align-center u-text u-text-4">@Model.Description</p>
        <h3 class="u-align-center u-custom-font u-font-lobster u-text u-text-5">Comment</h3>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                
                  @if (ViewBag.AnimalComments != null)
                {
                    foreach (var comment in ViewBag.AnimalComments)
                    {
                        <div class="u-container-style u-list-item u-repeater-item">
                            <div class="u-container-layout u-similar-container u-container-layout-1">
                                <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 515.556 515.556" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6316"></use></svg>
                                    <svg class="u-svg-content" viewBox="0 0 515.556 515.556" id="svg-6316"><path d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z"></path></svg>
                                </span>
                                <p class="u-text u-text-6">@comment.CommentText</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;">
                <div class="u-form-group u-form-message">
                    <label for="message-611d" class="u-label">commant</label>
                    <textarea placeholder="Enter your commnet" rows="4" cols="50" id="message-611d" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-40 u-btn-1">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="b69c29d008193aa59c1a9c592d8fe88c">
            </form>
        </div>

    </div>
</section>