@using Model.Models
@model Animal
@{
    ViewData["Title"] = "AddAnimal";
}

<section class="u-align-center u-clearfix u-gradient u-section-2" id="sec-6b04">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-lobster u-text u-text-default u-text-1">Add Animal</h1>
        <a asp-action="Administrator" asp-controller="Administrator" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-4-dark-2 u-radius-50 u-text-body-color u-btn-1">Back</a>
        <div class="u-form u-form-1">
            <form enctype="multipart/form-data" asp-action="AddAnimal" asp-controller="Administrator" method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">


                <div class="u-form-group u-form-partition-factor-2 u-label-left u-form-group-1">
                    <label for="text-bb33" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-1">Name</label>
                    <input asp-for="@Model.Name" type="text" placeholder="Enter the animal name" id="text-bb33" name="Name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">
                    <span class="text-danger" asp-validation-for="@Model.Name"></span>
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-label-left u-form-group-2">
                    <label for="text-03e7" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-2">Age</label>
                    <input asp-for="@Model.Age" type=" number" placeholder="Enter the animal Age" id="text-03e7" name="Age" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">
                    <span class="text-danger" asp-validation-for="@Model.Age"></span>
                </div>
                <div class="u-form-group u-form-select u-label-left u-form-group-5">
                    <label for="select-5bb5" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-5">List</label>
                    <div class="u-form-select-wrapper">
                        <select id="Categories" name="CategoryId">
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="u-form-group u-form-message u-form-partition-factor-2 u-label-left">
                    <label for="message-3b9a" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-3">Description</label>
                    <textarea asp-for="@Model.Description" placeholder="Enter the animal Description" rows="10" cols="50" id="message-3b9a" CommentTextclass="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">@Model.Description</textarea>
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>
                </div>
                <div>
                    <label class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-1">add image for the animal</label>
                    <input asp-for="@Model.PictureLink" type="file" name="Image" class="form-control form-control-lg" id="Image">
                    <span asp-validation-for="@Model.PictureLink"></span>
                </div>

                <input value="Add Animal" type="submit" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-palette-4-dark-2 u-radius-23 u-text-body-color u-btn-2" />

            </form>
        </div>
    </div>
</section>




