@using Model.Models
@model Animal
@{
    ViewData["Title"] = "EditAnimal";
}

<section class="u-align-center u-clearfix u-gradient u-section-2" id="sec-6b04">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-lobster ">Edit Animal</h1>
        <div class="u-form u-form-1">
            <form enctype="multipart/form-data" asp-action="EditAnimal" asp-controller="Administrator" asp-route-Id="@Model.AnimalId" method="post" class="u-clearfix u-form-spacing-10 u-inner-form" style="padding: 10px" source="email" name="form">

                <div class="u-form-group u-form-partition-factor-2 u-label-left u-form-group-1">
                    <label for="Name" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-1">Name</label>
                    <input asp-for="@Model.Name" type="text" placeholder="Enter the animal name" id="Name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">
                    <span class="text-danger" asp-validation-for="@Model.Name"></span>
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-label-left u-form-group-2">
                    <label for="Age" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-2">Age</label>
                    <input asp-for="@Model.Age" type=" number" placeholder="Enter the animal Age" id="Age" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">
                    <span class="text-danger" asp-validation-for="@Model.Age"></span>
                </div>
                <div class="u-form-group u-form-select u-label-left u-form-group-5">
                    <div class="u-form-select-wrapper">
                        <label for="Category" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-5">The categories</label>
                        <select id="Categories" name="CategoryId" asp-for="@Model.CategoryId">
                            @foreach (var item in ViewBag.Categories)
                            {
                                if (Model.CategoryId == item.CategoryId)
                                {
                                    <option selected value="@item.CategoryId">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.CategoryId">@item.Name</option>
                                }
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="@Model.Category"></span>
                    </div>
                </div>
                <div class="u-form-group u-form-message u-form-partition-factor-2 u-label-left">
                    <label for="Description" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-3">Description</label>
                    <textarea asp-for="@Model.Description" placeholder="Enter the animal Description" rows="10" cols="50" id="Description" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">@Model.Description</textarea>
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>
                </div>
                <div>
                    <label class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-1">add image for the animal</label>
                    <input accept="image/png, image/gif, image/jpeg , image/jfif" class="form-control form-control-lg" id="Image" asp-for="@Model.PictureLink" name="Image" type="file">
                    <span class="text-danger" asp-validation-for="@Model.PictureLink"></span>
                    <img class="u-image u-image-round u-radius-10 u-image-1" src="../../@Model.PictureLink" alt="" data-image-width="1280" data-image-height="739"><div>
                    </div>
                </div>
                <div class="p-2">
                    <input value="Edit" type="submit" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-palette-4-dark-2 u-radius-23 u-text-body-color u-btn-2" />
                    <a asp-action="Administrator" asp-controller="Administrator" style="text-align:right;" class="u-border-none u-btn-round u-button-style u-palette-4-dark-2 u-radius-23 u-text-body-color u-btn-2">Back</a>
                </div>
            </form>
        </div>
    </div>
</section>
